html {
    font-size: 14px;
}

body {
    --body-padding:1.5rem;
    margin:0;
}
h1 {
    text-align: center;
}
.home{
    display: none;
}
.grid {

    grid-template-areas: "welcome  welcome"
                         "about    about"
                         "layout_3 layout_4"
                         "table    table"
                         "layout_5 layout_6"
                         "layout_7 layout_7";
}


.iframes{
    display:flex;
    flex-direction: row;
    
    text-decoration: none;
}

iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 66.66%;
}

.container{
    position: relative;
    width: 66.66%;
    height: 0;
    padding-bottom: 56.25%;
}


.tabs-iframe {
    
    /* width: rem; */
    display: flex;
    flex-direction: column;
 
}

.tabs-iframe a{
    /* margin-bottom: 1rem;
    margin-left: 0.5rem; */
    width: 10rem;
    height: 2.5rem;
    text-decoration: none;
    border:5px double var(--headercolor);
    border-left: none;

    background-color: var(--menucolor);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    transition: all 700ms;
}

.tab:hover{
    /* width: 12rem; */
    background-color: var(--cl-marcare);
    padding-left: 30px;
}

.tab div{
    width: 10rem;
    color: var(--textcolor);
    font-weight: bold;
    text-align: center;
    position: absolute;
}

#table{
    overflow-x: scroll;
    padding-left: 30px;
}

.banner{
    display: none;
}