$inaltime-menu: 3rem;

nav{
    ul{
        .menu{
            ul{
                display: none;
                position: absolute;
                width: 100%;
            }
        }
    }
}

nav{
    height: var(--inaltime-menu);
    width: 100%;

    top:0;
    padding: 0 ;
    background: var(--menucolor);
    z-index: 10;

    position: sticky;
}

nav{
    ul{
        .menu>{
            li{
                float:left;
                width: 16.66%;
                position: relative;
            }
        }
    }
}

nav{
    ul,li{
        padding:0;
        margin:0;
    }
}

nav{
    ul{
        .menu{
            li{
                text-align: center;
    
                list-style-type: none;
                background: var(--menucolor);
                cursor:pointer; 
            }
        }
    }
}

nav{
    ul{
        .menu{
            li{
                a,div{
                    text-decoration: none;
                    color:var(--textcolor);
                    display: block;
                    font-weight:bold;
                    height:var(--inaltime-menu);
                    line-height:var(--inaltime-menu);
                    width: 100%;
                    outline:2px solid var(--headercolor);

                }
            }
        }
    }
}

ul{
    .menu{
        a,div{
            transition: background 700ms linear; 
        }
    }
}



nav{
    ul{
        .menu>{
            li>{
                a{
                    text-shadow: 0px -15px transparent;
                    transition: text-shadow 500ms linear;
                }
            }
        }
    }
}

nav{
    ul{
        .menu>{
            li>{
                a{
                    &:hover{
                    
                    text-shadow: 0px 0px;       
                    }
                }
            }
        }
    }
}


ul{
    .menu{
        a,div{
            &:hover{
                background:var(--cl-marcare); 
            }
        }
    }
}

nav{
    ul{
        .menu>{
            li>{
                ul{
                    height: 0;
                }
            }
        }
    }
}

nav{
    ul{
        .menu >{
            li{
                &:hover>{
                    ul{
                        display: block;
                        animation-name: scaleHeight;
                        animation-iteration-count: 1;
                        animation-duration: 0.7s;
                        animation-fill-mode: forwards;
                        animation-timing-function: linear;
                        /* height: 50%; */
                    }
                }
            }
        }
    }
}

.dropdown{
    ul{
        li{
            &:hover{
                text-decoration: underline 2px;
            }
        }
    }
}

#ch_menu {
    display: none;
    
}


#small_menu {
    height: var(--inaltime-menu);
    /* width: auto; */
    display: none;
    /* height: var(--inaltime-meniu); */
    img{
        height: 100%;
    width: auto;
    }
}

    // @for $num from 1 to 5 
    //     ul:nth-child(#($num)){
    //         animation: rotateX 300ms (num * 60ms) ease-in-out forwards
    //         transform-origin: top center
    //     }




    @keyframes scaleHeight {
        0% {
          opacity: 0;
          transform: scaleY(0);
          
        }
        100% {
          opacity: 1;
          transform: scaleY(1);
        }
      }