body {
    /* background-color: pink; */

    width: 100%;

    --backgroundcolor: #F2E9BD;	
    --highlightcolor:  #F2EFEB;
    --headercolor: #027373;
    --footercolor:#A7F2D7;
    --bordercolor: #F2D57E;
    --textcolor: black;
    --whilecolor: white;
}

header {
    background-color: var(--headercolor);
}



.container{
    display: grid;
    width: 100VW;
    height: auto;
    grid-template-areas: "layout_1 layout_1 layout_1 layout_1"
                         "layout_8 layout_8 layout_8 layout_8"
                         "layout_3 layout_2 layout_2 layout_4"
                         "layout_5 layout_6 layout_7 layout_7";
                          
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    
    border: 1px solid navy;
    padding: 4px;
}

.container > #layout_1 {
    grid-area: layout_1;
    background-color: red;
}

.container > #layout_2 {
    grid-area: layout_2;
    background-color: green;
    width: 100VW;
    height: auto;
}

.container > #layout_3 {
    grid-area: layout_3;
    background-color: blue;
    width: 100VW;
    height: auto;
}

.container > #layout_4 {
    grid-area: layout_4;
    background-color: yellow;
    width: 100VW;
    height: auto;
}

.container > #layout_5 {
    grid-area: layout_5;
    background-color: gray;
    width: 100VW;
    height: auto;
}

.container > #layout_6 {
    grid-area: layout_6;
    background-color: purple;
    width: 100VW;
    height: auto;
}

.container > #layout_7 {
    grid-area: layout_7;
    background-color: pink;
    width: 100VW;
    height: auto;
}

.container > #layout_8 {
    grid-area: layout_8;
    background-color: orange;
    width: 100VW;
    height: auto;
}
