html {
    font-size: 14px;
}

body {
    --body-padding:1.5rem;
    margin:0;
}

.grid {

    grid-template-areas: "layout_1 layout_1"
                         "layout_8 layout_8"
                         "layout_3 layout_4"
                         "layout_2 layout_2"
                         "layout_5 layout_6"
                         "layout_7 layout_7";
}
