<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta
      name="description"
      content="Petshop Rare Birds, Accesories and Quizes"
    />
    <meta
      name="keywords"
      content="Petshop, Rare, Bird, Quiz, Extinct, Conservation"
    />
    
    <title>On the brink</title>
    <%- include("../fragments/head") %>
  </head>

  <body>
    <main>
        
    <%- include("../fragments/header") %>
        <div>
        <section>
            <h2 class = "Error">404 Page not found</h2>
        </section>
        </div>
        
    <%- include("../fragments/footer") %>
    </main>

  </body>

  <div class="banner">
    This is a school project
  </div>
</html>
