<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta
      name="description"
      content="Petshop Rare Birds, Accesories and Quizes"
    />
    <meta
      name="keywords"
      content="Petshop, Rare, Bird, Quiz, Extinct, Conservation"
    />
    
    <title>On the brink</title>
    <%- include("../fragments/head") %>
  </head>

  <body>
    <%- include("../fragments/header") %>
    <main>
        <div class="grid">
          <section id="welcome">
            <h2>More about us</h2>

            
          </section>
  
          <div id="about">
            <section>
              <h2>The beggining</h2>

               
              <h2>The future</h2>
                
  
            </section>
          </div>
  
         
        </div>
  
    
      </main>
  

    <%- include("../fragments/footer") %>
  </body>

  <div class="banner">
    This is a school project
  </div>
</html>
