<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta
      name="description"
      content="Petshop Rare Birds, Accesories and Quizes"
    />
    <meta
      name="keywords"
      content="Petshop, Rare, Bird, Quiz, Extinct, Conservation"
    />
    
    <title>On the brink</title>
    <%- include("../fragments/head") %>
  </head>

  <body>
    <%- include("../fragments/header") %>
    <main>
      <section>
          <h3>Quiz</h3>
      </section>

    </main>

    <%- include("../fragments/footer") %>
  </body>

  <div class="banner">
    This is a school project
  </div>
</html>
