<footer id="contact">
    <p>
      Sign up to receive updates, special offers, program communications and
      other information from Rarest Birds.
    </p>
    <small
      >Copyright &#169;2021 Rarest Birds, Inc. All rights reserved.</small
    >
    <address>
      Written by
      <a href="mailto:ciurescuandreea624@gmail.com"
        >Ciurescu Andreea Florina</a
      >.<br />
      Give us feedback at:<br />
      <a href="mailto:ciurisecretbirds@gmail.com" target="_blank"
        >onthebrink@gmail.com</a
      ><br />
      Give us a call at:<br />
      <a href="tel:07xxxxxxxx">07xxxxxxxx</a><br />

      Our adress:<br />
      Bucharest, Calea Victoriei no.1
    </address>
    <p>
      Website created on <time datetime="2021-03-06 01:00">06.03.2021.</time>
    </p>
      <div id="box">
        <a href="#top" title="go back up" id="link-top"><div id="triangle"></div></a>
      </div>
    
    <!-- <a href="#top" title="go back up" id="link-top"><div id="triangle"></div>></a> -->
  </footer>