<header>
    <h1 id="title">On the brink</h1>
  </header>

  <nav>
    <label id="small_menu" for="ch_menu">
      <img src="resurse\imagini\Hamburger_icon.svg.png" alt="menu" />
    </label>
    <input id="ch_menu" type="checkbox" />
    <ul class="menu">
      <li class="dropdown">
        <div >
          <a href = "index"><i class="fas fa-home fa-lg icon"></i><span class="home">Home</span></a>
        </div>
        <ul>
          <li class="item-1"><a href="/index#welcome">Welcome</a></li>
          <li class="item-2"><a href="/index#about">About</a></li>
          <li class="item-3"><a href="/index#table">Table</a></li>
        </ul>
      </li>
      <li><a href="register">Register</a></li>
      <li><a href="quiz">Quiz</a></li>
      <li class="dropdown">
        <div><a href = "info">Info</a></div>
        <ul>
          <li class="item-1"><a href = "gallery">Gallery</a></li>
          <!-- <li class="item-2"><a href="#">Accessories</a></li>
          <li class="item-3"><a href="#">Food</a></li> -->
        </ul>
      </li>
      <li class="dropdown">
        <div><a href = "shop">Shop</a></div>
        <ul>
          <li class="item-1"><a href="#">Birds</a></li>
          <li class="item-2"><a href="#">Accessories</a></li>
          <li class="item-3"><a href="#">Food</a></li>
        </ul>
      </li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>